.ac-accordion {
  border-top: var(--border-width) solid var(--secondary-color);
  border-bottom: var(--border-width) solid var(--secondary-color);
}

.ac-accordion__header {
  display: flex;
  width: 100%;
  padding: 0;
  border: 0;
  background: transparent;
  color: inherit;
  line-height: 1em;
  text-align: unset;
  font-size: 1rem;
}

.ac-accordion__header-inner {
  padding: var(--space-medium) 0;
  flex: 1 1 auto;
}

.ac-accordion__header-close {
  padding: var(--space-medium);
}
