/* Default */
.ac-button {
  --theme-color: var(--secondary-color);
  --theme-diff-color: var(--secondary-diff-color);

  display: inline-block;
  box-sizing: border-box;
  min-width: 6rem;
  padding: var(--space-small);
  border: var(--theme-color) solid var(--border-width);
  border-radius: var(--border-radius);
  background: var(--theme-color);
  color: var(--theme-diff-color);
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}

/* Disabled */
.ac-button:disabled,
.ac-button--disabled {
  --theme-color: var(--disabled-color);
  --theme-diff-color: var(--disabled-diff-color);

  cursor: not-allowed;
}

/* Hovered */
.ac-button:not(:disabled):hover {
  filter: brightness(110%);
}

/* Active */
.ac-button:not(:disabled):active {
  filter: brightness(90%);
}

/* Flat */
.ac-button--flat {
  border-color: transparent;
  background: transparent;
  color: var(--theme-color);
}

/* Outline */
.ac-button--outline {
  background: transparent;
  color: var(--theme-color);
}

/* Primary */
.ac-button--primary {
  --theme-color: var(--primary-color);
  --theme-diff-color: var(--primary-diff-color);
}

/* Danger */
.ac-button--danger {
  --theme-color: var(--danger-color);
  --theme-diff-color: var(--danger-diff-color);
}
