/*

Global Style Reset

- Disable browser specific appearances and behaviors
- Unify fonts, sizes and colors
- Add all goodness for modern web design

*/

/*
--------------------------------------------------------------------------------
General
--------------------------------------------------------------------------------
*/

* {
  scroll-behavior: smooth; /* smooth scroll when clicking anchors inside page */
  scrollbar-color: var(--overlay-color) transparent; /* scrollbar in firefox */
  scrollbar-width: auto; /* scrollbar in firefox */
}

/* scrollbar in chrome */
*::-webkit-scrollbar {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: var(--overlay-color);
}

/* selection */
*::selection {
  background: var(--selection-color);
}

/* remove dotted outlines of buttons and links in firefox */
::-moz-focus-inner {
  border: 0;
}

/*
--------------------------------------------------------------------------------
Root elements
--------------------------------------------------------------------------------
*/

html {
  line-height: 1.5;
  font-size: 16px; /* fixed font size for better web design */
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);
}

/*

Text elements

*/

a {
  color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

hr {
  width: 10rem;
  margin: 3rem 0;
}

button {
  cursor: pointer;
}
