/*
================================================================================
Global Style Reset
================================================================================
*/

/* Scrollbar: Firefox */
* {
  scrollbar-color: var(--overlay-color) transparent;
  scrollbar-width: auto;
}

/* Scrollbar: Chrome */
*::-webkit-scrollbar {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: var(--overlay-color);
}

/* Selection */
*::selection {
  background: var(--overlay-color);
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

code {
  padding: 0 var(--space-small);
  border-radius: var(--border-radius);
  background: var(--overlay-color);
  font-size: var(--font-size);
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

hr {
  width: 10rem;
  margin: 3rem 0;
}
