:root {
  --font-size: 16px;
  --font-family: "Source Sans Pro";
  --border-width: 1px;
  --border-radius: 5px;
  --space-tiny: 4px;
  --space-small: 8px;
  --space-medium: 16px;
  --space-large: 32px;

  /* light theme colors */
  --text-color: #444444;
  --background-color: #ffffff;
  --alt-background-color: #dddddd;
  --link-color: #089784;
  --primary-color: #911d6e;
  --primary-diff-color: #ffffff;
  --secondary-color: #444444;
  --secondary-diff-color: #ffffff;
  --danger-color: #cf4e4e;
  --danger-diff-color: #ffffff;
  --disabled-color: #a3a3a3;
  --disabled-diff-color: #eeeeee;
  --overlay-color: #00000022;
  --selection-color: #52cc007c;
}

.light {
  --text-color: #444444;
  --background-color: #ffffff;
  --alt-background-color: #dddddd;
  --link-color: #089784;
  --primary-color: #911d6e;
  --primary-diff-color: #ffffff;
  --secondary-color: #444444;
  --secondary-diff-color: #ffffff;
  --danger-color: #cf4e4e;
  --danger-diff-color: #ffffff;
  --disabled-color: #a3a3a3;
  --disabled-diff-color: #eeeeee;
  --overlay-color: #00000022;
}

/* dark theme colors */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ffffff;
    --background-color: #444444;
    --alt-background-color: #333333;
    --primary-color: #f061c5;
    --secondary-color: #ffffff;
    --secondary-diff-color: #444444;
  }
}

.dark {
  --text-color: #ffffff;
  --background-color: #444444;
  --alt-background-color: #333333;
  --primary-color: #f061c5;
  --secondary-color: #ffffff;
  --secondary-diff-color: #444444;
}
